---
parser: 'babel-eslint'
env:
  browser: true
  node: true
  jquery: true
  amd: true
  es6: true
# ecmaFeatures:
#   arrowFunctions: true
#   binaryLiterals: true
#   blockBindings: true
#   classes: true
#   defaultParams: true
#   destructuring: true
#   forOf: true
#   generators: true
#   modules: true
#   objectLiteralComputedProperties: true
#   objectLiteralDuplicateProperties: true
#   objectLiteralShorthandMethods: true
#   objectLiteralShorthandProperties: true
#   octalLiterals: true
#   regexUFlag: true
#   regexYFlag: true
#   restParams: true
#   spread: true
#   superInFunctions: true
#   templateStrings: true
#   unicodeCodePointEscapes: true
#   globalReturn: true
#   jsx: true
rules:
  indent: [1, 2, {"indentSwitchCase": true}]
  brace-style: [2, "1tbs"]
  comma-style: [2, "last"]
  default-case: 2
  func-style: [2, "declaration"]
  guard-for-in: 2
  no-floating-decimal: 2
  no-nested-ternary: 2
  no-undefined: 2
  no-script-url: 0
  radix: 2
  space-after-function-name: [2, "never"]
  space-after-keywords: [2, "always"]
  space-before-blocks: 2
  spaced-line-comment: [2, "always", { exceptions: ["-"]}]
  strict: [1, "global"]
  new-cap: 0
  global-strict: 0
  valid-jsdoc: [2, { prefer: { "return": "returns"}}]
  wrap-iife: 2
